$primary: hsl(255, 100%, 74%);
$deep-purple: hsl(255, 100%, 64%);
$secondary: hsl(171, 100%, 38%);
$success: hsl(142, 76%, 36%);
$white: hsl(0, 0%, 100%);
$light: hsl(0, 0%, 96%);
$black: hsl(256, 59%, 15%);
$gray: hsl(208, 7%, 48%);
$gray-dark: hsl(210, 10%, 23%);
$yellow:#f6d35b;
$light-blue: #f6f8ff;